<script lang="ts">
  // import { invoke } from "@tauri-apps/api/tauri"
  import { onDestroy, onMount } from "svelte";
  const WS_URL: string = 'ws://127.0.0.1:8080';
  let name: string = "";
  let greetMsg: string = ""
  let websocket: WebSocket, messages: string[] = [];
  let wsReady: boolean = false;
  let isCreated: boolean = false;

  // Conectar al servidor WebSocket cuando el componente se monta
  onMount(() => {
    initSocket(isCreated);

  });

  function initSocket(created: boolean = false){
    if(created){
      console.log("Its created");
      return;
    }
    websocket = new WebSocket(WS_URL);

    websocket.onopen = () => {
      console.log('Conexión WebSocket abierta');
      // Puedes enviar mensajes una vez que la conexión esté abierta
      // ws.send('Hola desde Svelte!');
      isCreated = true;
      wsReady = true;
    };

    websocket.onmessage = (event) => {
      // Agregar mensajes entrantes a la lista para mostrarlos en la UI
      if(event.data == 'DONE'){
        // messages = [...messages];
        return;
      }
      if(!messages.length){
        messages = ['']
        return;
      }
      messages[0] = `${messages[0]}${event.data}`;
    };

    websocket.onerror = (error) => {
      console.error('Error en la conexión WebSocket', error);
      wsReady = false;
    };
  }

  // Función para enviar mensajes al servidor
  const sendMessage = () => {
    const message = 'Mensaje desde Svelte';
    websocket.send(message);
    console.log(`Mensaje enviado: ${message}`);
  }

  // Asegurarse de cerrar la conexión WebSocket cuando el componente se destruye
  onDestroy(() => {
    if(websocket)
      websocket.close();
  });
  async function greet(){
    // Learn more about Tauri commands at https://tauri.app/v1/guides/features/command
    greetMsg = name;
    if(wsReady){
      websocket.send(name);
    }
    // greetMsg = await invoke("greet", { name })
  }
</script>

<div>
  <form class="row" on:submit|preventDefault={greet}>
    <input id="greet-input" placeholder="Enter a name..." bind:value={name} />
    <button type="submit">Greet</button>
  </form>
  <p>{greetMsg}</p>

  <h2>Mensajes:</h2>
  <br>
  <br>
  <ul>
    {#each messages as message}
      <li>{message}</li>
    {/each}
  </ul>

</div>

<style>
  ul {
    list-style-type: none;
  }
   li{
     font-size: 10rem;
   }
</style>